/target/
.DS_Store

/tests/fixtures/portable-pack/build/*
!/tests/fixtures/portable-pack/build/cache/
!/tests/fixtures/portable-pack/build/cache/objects/
!/tests/fixtures/portable-pack/build/cache/objects/**
